@media (max-width: 1200px) {
  .header-menu nav a {
    margin: 0 2vw;
  }
  .logo img {
    width: 170px;
    height: 38px;
  }
  .hero-section-flexbox {
    grid-template-columns: repeat(8, 1fr);
  }
  .hero-flexbox-left {
    grid-column: 1 / span 4;
  }

  .hero-flexbox-right {
    grid-column: 5 / span 4;
  }
  .browse-section-flexbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
  }
  .browse-section-flexbox div:first-of-type {
    grid-row: 1;
    grid-column: 1 / span 3;
  }
  .browse-section-flexbox div:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .browse-section-flexbox div:nth-of-type(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .browse-section-flexbox div:nth-of-type(4) {
    grid-row: 2;
    grid-column: 3;
  }
}
@media (max-width: 1024px) {
  .logo img {
    width: 140px;
    height: 32px;
  }
  .hero-flexbox-right h1 {
    font-size: 3.6rem;
    line-height: 45px;
  }
  .hero-flexbox-right span {
    font-size: 1.8rem;
    line-height: 26px;
  }

  .hero-flexbox-right ul li {
    font-size: 1.6rem;
    line-height: 22px;
  }
  .hero-btns button:first-child a {
    font-size: 1.7rem;
    line-height: 25px;
    width: 150px;
  }

  .hero-btns button:last-child a {
    font-size: 1.7rem;
    line-height: 25px;
    width: 150px;
  }
  .manufacturing-section-flexbox-left h2 {
    font-size: 3.2rem;
    line-height: 40px;
  }

  .manufacturing-section-flexbox p {
    font-size: 1.6rem;
    line-height: 22px;
  }
  .manufacturing-section-flexbox-right img:first-child {
    height: 230px;
  }
  .manufacturing-section-flexbox-right img:last-child {
    height: 150px;
  }
  .solution-section-content h2 {
    font-size: 3.2rem;
    line-height: 40px;
  }

  .solution-section-content p {
    font-size: 1.6rem;
    line-height: 22px;
  }
  .solution-section {
    height: 560px;
  }
  .solution-section-content {
    top: 100px;
    width: 55%;
    padding: 15px;
  }
  .browse-section-flexbox button a {
    font-size: 1.7rem;
    line-height: 25px;
    width: 150px;
  }
  .browse-section-flexbox button a:hover {
    color: var(--third-color);
    background-color: var(--primay-color);
  }

  .location-flexbox-left h2 {
    font-size: 3.2rem;
    line-height: 40px;
  }
  .location-flexbox-left p {
    font-size: 1.6rem;
    line-height: 22px;
  }

  .location-table tr td i {
    font-size: 2.4rem;
    margin-right: 17px;
  }
  .location-table tr td span {
    font-size: 1.6rem;
    line-height: 22px;
  }
  .contact-form form {
    width: 50%;
  }
  .contact-form form h1 {
    font-size: 3.6rem;
    line-height: 43px;
    margin-bottom: 14px;
  }
  .cnc-services-flexbox-left h1 {
    font-size: 3.6rem;
    line-height: 43px;
    margin-bottom: 10px;
  }

  .cnc-services-flexbox-left p {
    font-size: 1.6rem;
    line-height: 22px;
  }

  .cnc-services-flexbox-left button a {
    font-size: 1.7rem;
    line-height: 25px;
    width: 150px;
  }
  .cnc-services-flexbox-left {
    padding: 25px 4vw;
  }
  .capabilities-section > h2 {
    font-size: 3.2rem;
    line-height: 40px;
  }
  .capabilities-section > p {
    font-size: 1.6rem;
    line-height: 22px;
  }
  .capabilities-section-cards div {
    width: 270px;
  }
  .capabilities-section-cards {
    width: 100%;
  }
  .delivery-section-flexbox {
    grid-column-gap: 30px;
    margin: 120px 0;
  }
  .delivery-section-flexbox-left h2 {
    font-size: 3.2rem;
    line-height: 40px;
    margin: 15px 0;
  }

  .delivery-section-flexbox-left p {
    font-size: 1.6rem;
    line-height: 22px;
  }
  .served-section > h2 {
    font-size: 3.2rem;
    line-height: 40px;
    margin: 0 0 15px 0;
  }

  .served-section > p {
    font-size: 1.6rem;
    line-height: 22px;
  }
  .served-section-cards {
    row-gap: 50px;
    column-gap: 50px;
  }

  .served-section-cards > div {
    width: 300px;
  }
  .served-section-cards > div div img {
    width: 300px;
    aspect-ratio: 4/4;
  }
  .served-section-cards > div h3 {
    font-size: 1.8rem;
    padding: 20px 10px;
  }
  .browse-section-flexbox {
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 120px;
    height: 28px;
  }
  .hamburger {
    display: block;
  }
  .header-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hero-section-flexbox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero-flexbox-left {
    grid-column: 0;
    height: 45vh;
    width: 100%;
  }

  .hero-flexbox-right {
    grid-column: 0;
    width: 100%;
  }
  .hero-flexbox-right h1 {
    font-size: 3rem;
    line-height: 38px;
    margin-bottom: 3px;
  }
  .hero-flexbox-right span {
    font-size: 1.6rem;
  }

  .hero-flexbox-right ul li {
    font-size: 1.5rem;
  }
  .hero-flexbox-right {
    padding: 30px 4vw 30px 3vw;
  }

  .hero-btns {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    row-gap: 15px;
    column-gap: 15px;
  }

  .hero-btns button:first-child a {
    font-size: 1.5rem;
    width: 140px;
  }

  .hero-btns button:last-child a {
    font-size: 1.5rem;
    width: 140px;
  }
  .manufacturing-section-flexbox-left h2 {
    font-size: 2.8rem;
    text-align: center;
    line-height: 36px;
  }

  .manufacturing-section-flexbox p {
    font-size: 1.5rem;
    text-align: center;
  }
  .manufacturing-section-flexbox {
    flex-direction: column;
  }
  .manufacturing-section-flexbox-left {
    width: 100%;
  }
  .manufacturing-section-flexbox-right img:first-child {
    height: 160px;
  }
  .manufacturing-section-flexbox-right img:last-child {
    height: 120px;
  }
  .solution-section-content h2 {
    font-size: 2.8rem;
    line-height: 36px;
  }

  .solution-section-content p {
    font-size: 1.5rem;
  }
  .solution-section {
    height: 500px;
    background-size: fill;
  }
  .location-flexbox-left h2 {
    font-size: 2.8rem;
    line-height: 36px;
  }
  .location-flexbox-left p {
    font-size: 1.5rem;
  }
  .location-table {
    margin-top: 10px;
  }

  .location-table tr td i {
    font-size: 2.2rem;
    margin-right: 15px;
  }

  .location-table tr td span {
    font-size: 1.5rem;
  }
  .location-section-flexbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .location-flexbox-left {
    grid-column: 1;
    padding: 20px 4vw;
  }
  .location-flexbox-right {
    grid-column: 1;
    height: 300px;
  }
  .contact-form form {
    width: 80%;
  }
  .contact-form form h1 {
    font-size: 3rem;
    line-height: 38px;
    margin-bottom: 10px;
  }
  .contact-form form input {
    font-size: 1.5rem;
  }

  .contact-form form textarea {
    font-size: 1.5rem;
  }
  .contact-form form button {
    padding: 6px 25px;
    font-size: 1.5rem;
  }

  .cnc-services-flexbox-left h1 {
    font-size: 3rem;
    line-height: 38px;
  }

  .cnc-services-flexbox-left p {
    font-size: 1.5rem;
  }

  .cnc-services-flexbox-left button a {
    font-size: 1.5rem;
    width: 140px;
  }
  .capabilities-section > h2 {
    font-size: 2.8rem;
    line-height: 36px;
    margin-bottom: 8px;
  }
  .capabilities-section > p {
    font-size: 1.5rem;
    width: 90%;
    font-weight: 400;
  }
  .capabilities-section-cards div h4 {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
  .capabilities-section-cards div p {
    font-size: 1.4rem;
  }
  .capabilities-section-cards div {
    width: 100%;
  }
  .capabilities-section-cards div img {
    aspect-ratio: 6/3.5;
  }
  .capabilities-section-cards {
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .delivery-section-flexbox-left h2 {
    font-size: 2.8rem;
    line-height: 36px;
    margin: 0 0 8px 0;
    text-align: center;
  }
  .delivery-section-flexbox {
    display: flex;
    flex-direction: column-reverse;
    grid-column-gap: 0;
    grid-template-columns: none;
    margin: 90px auto;
  }
  .delivery-section-flexbox-left p {
    font-size: 1.5rem;
    text-align: center;
  }
  .delivery-section-flexbox-left {
    padding-top: 0;
  }
  .delivery-section-flexbox-right {
    justify-content: center;
  }
  .delivery-section-flexbox-right img {
    width: 60%;
  }
  .served-section > h2 {
    font-size: 2.8rem;
    line-height: 36px;
    margin: 0 0 8px 0;
  }

  .served-section > p {
    font-size: 1.5rem;
    width: 90%;
    font-weight: 400;
  }
  .served-section-cards {
    row-gap: 30px;
    column-gap: 30px;
    margin: 20px 0 60px 0;
  }

  .served-section-cards > div {
    width: 250px;
  }
  .served-section-cards > div div img {
    width: 250px;
    aspect-ratio: 4/4;
  }
  .served-section-cards > div h3 {
    font-size: 1.6rem;
    padding: 15px 10px;
  }
  .browse-section-flexbox div img {
    width: 50px;
  }
  .browse-section-flexbox div img {
    width: 110px;
  }

  .browse-section-flexbox div:last-of-type img {
    width: 170px;
  }
}

@media (max-width: 576px) {
  .hero-flexbox-right h1 {
    font-size: 2.6rem;
    line-height: 32px;
  }
  .cnc-services-flexbox-left h1 {
    font-size: 2.6rem;
    line-height: 32px;
  }
  .cnc-services-flexbox {
    display: flex;
    flex-direction: column;
    grid-column-gap: 0;
    grid-template-columns: none;
  }
  .cnc-services-flexbox-left {
    margin-top: -10px;
  }

  .cnc-services-flexbox-right img {
    height: 35vh;
  }
  .footer-container {
    padding: 12px 0;
  }
  .footer-container nav a {
    font-size: 2.2rem;
  }
  .capabilities-section {
    margin: 60px auto 20px auto;
  }

  .capabilities-section-cards {
    width: 100%;
    margin-top: 25px;
  }
  .served-section-cards > div {
    width: 80%;
  }
  .served-section-cards > div div img {
    width: 100%;
    aspect-ratio: 4/2.5;
  }
  .browse-section-flexbox div img {
    width: 80px;
  }

  .browse-section-flexbox div:last-of-type img {
    width: 140px;
  }
}

@media (max-width: 310px) {
}
